.main-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.banner-container {
  background-image: url("images/banner.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: -7px;
}

.banner-text {
  font-family: helvetica;
  text-align: center;
  padding-top: 20px;
  font-size: 100px;
  color: white;
}

.text-container {
  color: #5d534f;
  font-family:
  text-align: center;
}
